@mixin center($style) {
  @if $style == display {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@mixin screen($break-point) {
  @if $break-point == mobile {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if $break-point == tablet {
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  }

  @if $break-point == pc {
    @media (min-width: 992px) {
      @content;
    }
  }
}
