* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 62.5%;
}
section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: 80%;
  margin: 20px auto;
}
.heading {
  text-align: center;
}
.heading h1 {
  font-weight: 700;
  font-size: 3rem;
  font-family: "Roboto Serif", serif;
}
.heading p {
  margin: 20px 0;
  font-size: 1.1rem;
}
.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.service {
  width: calc(100% / 3);
  padding: 20px;
  text-align: center;
}
.service__list {
  width: 100%;
  height: 300px;
}

.service__list img {
  width: 30%;
}
.service__list h2 {
  font-family: "Roboto Serif", serif;
  margin: 25px 0;
  font-size: 2rem;
}
.service__list p {
  line-height: 20px;
  font-size: 1.1rem;
  margin-bottom: 25px;
}
.service a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #fff;
  background: #0c2e89;
  padding: 10px 25px;
  align-items: flex-end;
  cursor: pointer;
}
