* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: aliceblue;
  color: #ccc;
}
.container {
  width: 85%;
  margin: 0 auto;
  background: rgb(99, 98, 85);
}
.container-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  border: 5px solid gold;
}
.heading .container-head img {
  width: 120px;
}
.title-heading {
  font-size: 1.7rem;
  color: gold;
  margin-right: 20px;
}
.content-head {
  text-align: center;
  font-family: "Young Serif", serif;
  margin: 30px 0;
  font-size: 2rem;
}
.posts-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 30px;
}
.posts-item .name {
  font-size: 1.6rem;
}
.posts-item .text-content {
  font-size: 1.3rem;
  line-height: 25px;
  margin: 20px 0;
}
.loading {
  font-size: 2rem;
  color: black;
  display: none;
}
