body {
  width: 100%;
}
.posts {
  width: 900px;
  margin: 30px auto;
  border: 1px solid black;
  padding: 50px;
  border-radius: 20px;
  background: rgb(0, 255, 221);
}

.posts .post-item {
  border-bottom: 1px solid gray;
  padding: 20px 0;
  display: flex;
}
.posts img {
  width: 30%;
  height: auto;
}

.right {
  display: flex;
  flex-direction: row-reverse;
}

.text {
  margin: 20px;
}
