* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

a {
  color: #000;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.modal-auth {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  transition-property: opacity, visibility;
}
.modal-auth.show {
  opacity: 1;
  visibility: visible;
}
.modal-auth .modal-dialog {
  width: 400px;
  background: #fff;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 40px;
  border-radius: 5px;
  z-index: 1;
}
.modal-auth .overlay {
  background: #00000073;
  position: fixed;
  inset: 0;
}
.modal-auth .tab-nav ul {
  display: flex;
}
.modal-auth .tab-nav ul li {
  flex: 1 1 auto;
}
.modal-auth .tab-nav ul li a {
  display: block;
  text-align: center;
  padding: 10px 0;
  background: #eeeeee;
}

.modal-auth .tab-nav ul li:first-child a {
  border-radius: 5px 0 0 0;
}
.modal-auth .tab-nav ul li:last-child a {
  border-radius: 0 5px 0 0;
}
.modal-auth .tab-nav ul li a.active {
  background: #fff;
}
.modal-auth .tab-content {
  padding: 20px;
}
.modal-auth .tab-content .tab-panel:not(.active) {
  display: none;
}
